<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>Java validation example with JSF</title>
    </h:head>

    <!--
        Using Expression Language (EL), we access localistion from resource bundle.
        The bundle is dclared with alias 'msg' in faces-config.xml, e.g.
        via #{msg.bundlekey} or #{msg['bundlekey']}
        An alternative is to use <f:loadBundle... /> without declaring it it
        Faces Config. The advantage with the bundle declaration in the Faces Config
        is that these bundles are also accessible in classes via CDI.
    -->
    <h:body>
        <h1><h:outputText value="#{msg.title}" /></h1>
        <hr />
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel for="lang" value="#{msg.labelLanguage}:"/>
                <h:selectOneMenu id="lang" value="#{jsfBackingBean.locale}">
                    <f:selectItem itemLabel="#{msg.localeEn}" itemValue="en" />
                    <f:selectItem itemLabel="#{msg.localeDe}" itemValue="de" />
                </h:selectOneMenu>
                <h:commandButton value="#{msg.buttonOk}" />
            </h:panelGrid>
        </h:form><br />

        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel for="firstName" value="#{msg.labelFirstName}:" />
                <h:inputText id="firstName" value="#{jsfBackingBean.employee.firstName}" />

                <h:outputLabel for="lastName" value="#{msg.labelLastName}:" />
                <h:inputText id="lastName" value="#{jsfBackingBean.employee.lastName}" />

                <h:outputLabel for="act" value="#{msg.labelActive}:" />
                <h:selectBooleanCheckbox id="act" value="#{jsfBackingBean.employee.active}" />

                <h:commandButton value="#{msg.buttonValidate}" />
            </h:panelGrid>

            <br />
            <h:outputText value="#{msg.textErrors}" />:
            <h:messages />
            <hr />
            <div style="font-size:66%"><h:outputText value="#{msg.hintErrors}" /></div>
            <hr />
        </h:form>
    </h:body>
</html>

